

/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
    font-family: Ubuntu-Regular;
    src: url('../fonts/ubuntu/Ubuntu-Regular.ttf'); 
  }
  
  @font-face {
    font-family: Ubuntu-Bold;
    src: url('../fonts/ubuntu/Ubuntu-Bold.ttf'); 
  }




* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat Medium'
}

main {
    width: 100vw
}
body {
    background-image:url("../images/bg-01.jpg");
	background-attachment:fixed;
	background-repeat: no-repeat;
  background-size: cover ;
  background-position: center;
}
.container reset-container{
    background-color:white;
}
h1{
    text-align: center;
    color: white;
    font-family: Ubuntu-Regular;
	font-size: 30px;
    padding: 40px;
    padding-top: 40px;
    font-family: Ubuntu-Bold;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    display: block;
}

.container,
.feedbackContainer,
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}
.res{
    background-color: #fff;
}
.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

fieldset, .feedbackContainer {
    border: rgb(192,192,192,0.1) 1px solid;
    height: 340px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.12)
}

input[type = "email"] {
    width: 340px;
    margin-top: 8px;
    padding: 2px 6px;
    border: none;
    background-color: #f7f7f7;
    height: 40px;
    outline-color: #2196f3;
    font-size: 1rem
}

button {
    float: right;
    margin: 20px 47px 0px 0px;
    padding: 10px 20px;
    border: 1px solid #50B2CC;
    float: right;
    background-color: #50B2CC;
    color: white;
    font-family: Ubuntu-Bold;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    display: block;
}
#mail{
    font-family: Ubuntu-Bold;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    display: block;
}
#resetPassword:hover {
    cursor: pointer;
    font-family: Ubuntu-Bold;
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;

    background: #273A69;
    background: -webkit-linear-gradient(left, #50B2CC, #273A69, #273A69);
    background: -o-linear-gradient(left, #50B2CC, #273A69, #273A69);
    background: -moz-linear-gradient(left, #50B2CC, #273A69, #273A69);
    background: linear-gradient(left, #50B2CC, #273A69, #273A69);
    position: relative;
    z-index: 1;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.container div {
    margin: 10px 40px;
    position: relative;
}

img {
    width: 100px;
    height: 100px;
    margin: auto;
    display: block
}

.reset-container div:first-of-type {   
    width: 340px;
    margin-top: 50px;
}

label {
    position: absolute;
    top: 56%;
    left: 6px;
    color: #505050
}

.focused-field {
    animation-name: gainFocus;
    animation-fill-mode: forwards;
    animation-duration: 0.15s;
    animation-timing-function: ease-out
}

@keyframes gainFocus {
    0% {
        top: 56%;
        left: 6px;
        color: #505050;
        font-size: 1rem
    }
    100% {
        top: 0%;
        left: 0px;
        color: #2196f3;
        font-size: 0.9rem
    }
}

.unfocused-field {
    animation-name: loseFocus;
    animation-fill-mode: forwards;
    animation-duration: 0.15s;
    animation-timing-function: ease-out
}

@keyframes loseFocus {
    0% {
        top: 0%;
        left: 0px;
        color: #2196f3;
        font-size: 0.9rem
    }
    100% {
        top: 56%;
        left: 6px;
        color: #505050;
        font-size: 1rem
    }
}

.initial-focused-field {
    top: 0%;
    left: 0px;
    color: #2196f3;
    font-size: 0.9rem
}

.initial-unfocused-field {
    top: 56%;
    left: 6px;
    color: #505050;
    font-size: 1rem
}

.feedbackContainer {
    height: 300px;
    width: 300px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    display: none 
}
